# Created by https://www.gitignore.io/api/code,python
# Edit at https://www.gitignore.io/?templates=code,python

### Code ###
.vscode/*
# !.vscode/settings.json
# !.vscode/tasks.json
# !.vscode/launch.json
# !.vscode/extensions.json

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Mac system files
*.DS_Store